<div id="admin_container">

    <div id="user_welcome">

        <h2 >Bienvenid@<span>{{persona}}</span></h2>
       <a href="/admin/login/logout" id="logout_btn">Cerrar sesión <i class="fa-solid fa-arrow-right-from-bracket"></i></a>

    </div>

</div>

