header {

    margin: 10px 0;
    
  }
  
  header #header_content {
  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    
    border-bottom-style: solid;
    border-width: 2px;
    border-color: gray;
    
  }
  
  header img {
  
    height: 50px;
    width: 50px;
    margin: 0 10px;
  
  }
  
  header h1 {
  
    margin: 0 10px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(16, 36, 80)
  
  }