.article_noticias {

    width: 100%;
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid black;

}

.article_noticias .title_wrapper {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

}

.article_noticias .title_wrapper .title {

    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 800;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;

}

.article_noticias .title_wrapper .title:hover {

    color: rgb(255, 255, 255);
    background-color: rgb(22, 170, 163);

}

.article_noticias .info {

    display: flex;
    flex-direction: column;
    width: 100%;

}

.article_noticias .date {
    
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: gray;
    font-weight: bold;


}

.article_noticias .user {

    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    
}

.article_noticias .user_name {

    text-align: center;
    padding: 5px 10px;
    margin-bottom: 10px;

}

.article_noticias .profile_picture {

    width: 55%;
 
}

.article_noticias .post_img {

    width: 100%;
    border-radius: 5px;

}

.article_noticias .text {

    width: 100%;
    max-height: 215px;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
    margin: 20px 0 0 0;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;  
    overflow: hidden;

}

@media screen and (min-width: 768px) {
    
    .article_noticias .info {

        width: 25%;
    
    }
    
    .article_noticias .user {

        display: flex;
    
    }
    
    .article_noticias .post_img {
    
        width: 75%;
    
    }

}