<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link rel="icon" href="/images/logo.ico" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <header>

      <div class="wrapper">

          <div id="header_content">

            <img src="/images/logo.png" alt="TECNOblog"></img>
            <h1>TECNOblog</h1>

         </div>

      </div>

    </header>

    <div class="wrapper">

      {{{body}}}

    </div>

    <footer>
    
      <div class="wrapper">
    
        <div id="footer_content">
    
          <div id="text">
    
            ©2022 TECNOblog
    
          </div>
    
          <div id="social_media">
    
            <a href="https://www.instagram.com/"><img src="/images/instagram.png" alt="Instagram"></img></a>
                    <a href="https://es-la.facebook.com/"><img src="/images/facebook.png" alt="Facebook"></img></a>
                    <a href="https://twitter.com/"><img src="/images/twitter.png" alt="Twitter"></img></a>
    
          </div>
    
        </div>
    
      </div>
    
    </footer>

  </body>
</html>
